{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    {% if session['role'] in['supplier'] %}
    <h2 class="text-center mb-4">My Products</h2>
    {% else %}
    <h2 class="text-center mb-4">All Products</h2>
    {% endif %}

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ product.image_url }}" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <p class="card-text">Stock: {{ product.stock }}</p>

                    {% if session['role'] == 'supplier' %}
                    <form action="/products/update_stock" method="post" class="d-flex align-items-center">
                        <input type="hidden" name="product_id" value="{{ product.product_id }}">

                        <button type="submit" name="action" value="decrease" class="btn btn-danger btn-sm">-</button>
                        <span class="mx-2">{{ product.stock }}</span>
                        <button type="submit" name="action" value="increase" class="btn btn-success btn-sm">+</button>
                    </form>
                    {% endif %}

                    {% if session['role'] == 'customer' %}
                    {% if product.stock > 0 %}
                    <form action="/cart/add_form" method="post">
                        <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
                        <input type="hidden" name="product_id" value="{{ product.product_id }}">
                        <input type="number" name="quantity" value="1" min="1" class="form-control mb-2">
                        <button type="submit" class="btn btn-success w-100">Add to Cart</button>
                    </form>
                    {% else %}
                    <p class="text-danger"><strong>Out of Stock</strong></p>
                    {% endif %}
                    {% endif %}




                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}